<section class="branch">
    <div class="container">
        <div class="row arrow">
            <div class="col-md-12 col-12 ">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>COURSES</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 col-12 ban">
                <img src="https://gpadp.org.in/assets/images/cs.webp" alt="">
                <div class="details">
                <h4>COMPUTER SCIENCE <br> ENGINEERING</h4>
            </div>
            </div>
            <div class="col-md-3 col-12 ban">
                <img src="https://gpadp.org.in/assets/images/ele.webp" alt="">
                <div class="details">
                <h4>ELECTRICAL <br> ENGINEERING</h4>
            </div>
            </div>
            <div class="col-md-3 col-12 ban">
                <img src="https://gpadp.org.in/assets/images/meta.webp" alt="">
                <div class="details">
                <h4>METALLURGICAL <br> ENGINEERING</h4>
            </div>
            </div>
            <div class="col-md-3 col-12 ban">
                <img src="https://gpadp.org.in/assets/images/mech2.webp" alt="">
                    <div class="details">
                <h4>MECHANICAL <br> ENGINEERING</h4>
            </div>
            </div>
        </div>
        <div class="row syllabus">
            <div class="col">
                <h4>Syllabus available on Jharkhand University of Technology Official Website - http://jutranchi.ac.in</h4>
            </div>
        </div>
    </div>
</section>
