
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>ABOUT US</h2>
            </div>
        </div><div class="row">
            <div class="col">
                <h4>Location & Accessibility</h4>
                <p>The institute is located on the Tata-Kandra Main Road at a distance of about 8 kms and 3 kms from Tata Nagar Railway Station and Adityapur Railway Station respectively. It is situated in the industrial hub of Adityapur. The major industries that are benefiting the students include Tata Steel, Tata Motors, Tayo Rolls Ltd., Usha Martin Ltd., Adhunik Steel and many more. National Institute of Technology (N.I.T.) Jamshedpur is at a distance of about 2 kms towards South. The simplest and the most economical way to reach is by bus or auto-rickshaw which runs throughout the day.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Hostel</h4>
                <p>The most distinctive feature of the campus is the hostel facility provided by the college catering to the residential requirement of 100 students. Hospitals, Post-Office, Banks and ATMs are also situated nearby the institute campus to provide the modern amenities of today’s life.</p>
            </div>
        </div>
    </div>
</section>

<app-lazyload></app-lazyload>