<section class="faculty">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>FACULTY</h2>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <h3>Lecturers</h3>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <img src="http://gpadp.org.in/img/sp.jpg" alt="" class="high">
                <h5>DR SRIKANT PRASAD</h5>
                <h6><b>HOD-CUM-PRINCIPAL</b></h6>
            </div>
            <div class="col-md-3 col-12">
                <img src="http://gpadp.org.in/img/rru.jpg" alt=""  class="high">
                <h5>MR REWATI RAMAN UPADHYAY</h5>
                <h6><b>Metallurgical Engineering</b></h6>
            </div>
            <div class="col-md -3 col-12">
                <img src="http://gpadp.org.in/img/faculty/mi_sir.png" alt=""  class="high">
                <h5>MR MUJAHIDUL ISLAM</h5>
                <h6><b>Mechanical Engineering</b></h6>
            </div>
            <div class="col-md-3 col-12">
                <img src="http://gpadp.org.in/img/faculty/jm.webp" alt=""  class="high">
                <h5>DR JWALA MAHATO</h5>
                <h6><b>Mathematics</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="line"></div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <img src="http://gpadp.org.in/img/faculty/image341.jpg" alt=""  class="high">
                <h5>MR SUKHLAL MUNDA</h5>
                <h6><b>Mechanical Engineering</b></h6>
            </div>
            <div class="col-md-3 col-12">
                <img src="http://gpadp.org.in/img/faculty/rkminz_sir.jpeg" alt=""  class="high">
                <h5>MR R K MINZ</h5>
                <h6><b>Mechanical Engineering</b></h6>
            </div>
           
        </div>
        <div class="row">
            <div class="col">
                <h3>Lab Assistant</h3>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <img src="http://gpadp.org.in/img/faculty/image504.jpg" alt="" class="high">
                <h5>MR INDRADEO PANDIT</h5>
                <h6><b>Programmer</b></h6>
            </div>
            
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</section>
