<section class="footerarea">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-12">
                <h4>Get in Touch</h4>
                <p><b>Government Polytechnic, Adityapur</b><br>
                    Adityapur Industrial Area<br>
                    Seraikella-Kharsawan, Jharkhand<br>
                    PIN- 832109</p>
                    <p>+91-657 2383303</p>
                    <p> gpa2010@rediffmail.com</p>
            </div>
            <div class="col-md-3 col-12">
                <h4>Menu Items</h4> 
                <ul>
                    <li> Student Panel</li>
                    <li> Admin Panel</li>
                    <li>Downloads</li>
                    <li>Disclaimer</li>
                    <li>Privacy Policy</li>
                    <li>Refund Policy</li>
                </ul>
            </div>
            <div class="col-md-3 col-12">
               <h4>Visitor Details</h4>
               <p>Your IP : 157.35.81.130</p>
               <p>Browser : Chrome</p>
            </div>
            <div class="col-md-3 col-12">
                <h4>Important Links</h4>
                <ul>
                    <li> MHRD</li>
                    <li>AICTE</li>
                    <li>Govt. of Jharkhand</li>
                    <li>JUT Ranchi</li>
                    <li>SBTE Jharkhand</li>
                    <li> JCECEB</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col line">

            </div>

        </div>
        <div class="row">
            <div class="col design">
                <p>Design & Developed By : Kunal Mahto</p>
            </div>
        </div>
    </div>
</section>
