<section class="gallery" >
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>GALLERY</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="http://www.gpadp.org.in/img/ew_2023.webp" alt="" class="image">
            </div>
            <div class="col-md-6 col-12">
                <img src="http://www.gpadp.org.in/img/sw_2023.webp" alt="" class="image">
            </div>
        </div>
       
        <div class="row">
            <div class="col">
                <img src="http://www.gpadp.org.in/img/gpa_imd.webp" alt="" class="image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <img src="http://www.gpadp.org.in/img/gallery/1_a.jpg" alt="" class="gal">
            </div>
            <div class="col-md-3 col-12">
                <img src="http://www.gpadp.org.in/img/gallery/3_a.jpg" alt="" class="gal">
            </div>
            <div class="col-md-3 col-12">
                <img src="http://www.gpadp.org.in/img/gallery/4_a.jpg" alt="" class="gal">
            </div>
            <div class="col-md-3 col-12">
                <img src="http://www.gpadp.org.in/img/gallery/5_a.jpg" alt="" class="gal">
            </div>
        </div>
    </div>
</section>