<section class="md">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>MANDETORY DISCLOSURE</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th>Sl. No.</th>
                        <th>Particulars</th>
                        <th>Inforamtion</th>
                    </tr>
                    <tr>
                        <td><b>01.</b></td>
                        <td><b>Name of the Institution</b></td>
                        <td><b>Government Polytechnic 
                             Adityapur</b><br> P.O. - Adityapur Industrial Area, Adityapur 
                            Seraikella- Kharsawan, Jharkhand 
                            PIN - 832109 <br> Phone - 0657-2383303    E-Mail - gpa2010@rediffmail.com</td>
                    </tr>
                    <tr>
                        <td><b>02.</b></td>
                        <td><b>Name and address of the Trust/ Society/ Company and the Trustees</b></td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td><b>03.</b></td>
                        <td><b>Name of the Principal</b></td>
                        <td><b>DR. SRIKANT PRASAD</b> <br>Govt. Polytechnic Adityapur
                            P.O. - Adityapur Industrial Area, Adityapur
                            Seraikella- Kharsawan, Jharkhand
                            PIN - 832109 </td>
                    </tr>
                    <tr>
                        <td><b>04.</b></td>
                        <td><b>Name of the affiliating University</b></td>
                        <td>Jharkhand University of Technology</td>
                    </tr>
                    <tr>
                        <td><b>05.</b></td>
                        <td><b>Governance</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>i. Members of the Board</b></td>
                        <td><a href="#">Click Here for More Details</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>ii. Organization Chart</b></td>
                        <td><a href="#">Click Here for More Details</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>iii. Anti-Ragging Committee</b></td>
                        <td><a href="#">Click Here for More Details</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>iv. Grievance Redressal Mechanism</b></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>v. Grievance Redressal Committee</b></td>
                        <td><a href="#">Click Here for More Details</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>vi. Internal Complaint Committee</b></td>
                        <td><a href="#">Click Here for More Details</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>vii. Committee for SC/ST</b></td>
                        <td><a href="#">Click Here for More Details</a></td>
                    </tr>
                    <tr>
                        <td><b>06.</b></td>
                        <td><b>Programmes</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>i. AICTE Approved Programmes(4)</b></td>
                        <td><b>Three(03) Years Diploma in</b><br>Mechanical Engineering <br>Electrical Engineering <br>Metallurgy Enginnering <br>Computer Sc. & Engineering</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>ii. Each Programme Details</b></td>
                        <td><button>Click Here for More Details</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
