
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-navigation></app-navigation>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-nav></app-nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-12">
          <app-slide></app-slide>
        </div>
      </div>
    </div>
  </section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-collapse></app-collapse>
            </div>
        </div>
    </div>
</section>
app-offcanvas
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-offcanvas></app-offcanvas>
            </div>
        </div>
    </div>
</section>
<section class="pmsg">
    <div class="container">
        <div class="row">
            <div class="col">
              <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt=""> 
              <h2>PRINCIPAL'S MESSAGE</h2> 
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-md-3 col-12 ">
         <img src="https://gpadp.org.in/assets/sp.jpg" alt="" class="pimage">
        
       </div>
        <div class="col-md-9 col-12">
            <p>This is the era of liberalization, privatization and globalization. The need of the hour is training individuals in dynamic way and make them to face different challenges thrown up by rapidly changing socio-economic technical scenario at the Global level. The Younger Generation must strive to develop into a well rounded personality with excellent Technical, Managerial, interpersonal and communication skills poised at the cutting-edge of Technology.</p>
            <p>In this context, Government Polytechnic, Adityapur is using it's best effort to impart technical training on the base of holistic approach.</p>
            <p>I am happy to be a part of this Dynamic and Vibrant Institute of <b>Department of Higher & Technical Education, Government of Jharkhand.</b> My endeavor is to introduce a pioneering course of growth to achieve the height of excellence and become an important force to recon with in the field of Technical education Vision global Scenario.</p>
            <p>DR SRIKANT PRASAD</p>
        </div>
    </div>
</section>
<section class="branch">
    <div class="container">
        <div class="row arrow">
            <div class="col-md-12 col-12 ">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>COURSES</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 col-12 ">
                <div class="ban">
                    <img src="https://gpadp.org.in/assets/images/cs.webp" alt="">
                    <h4>COMPUTER SCIENCE <br> ENGINEERING</h4> 
                </div>
               
            </div>
            <div class="col-md-3 col-12 ">
                <div class="ban">
                    <img src="https://gpadp.org.in/assets/images/cs.webp" alt="">
                    <h4>COMPUTER SCIENCE <br> ENGINEERING</h4> 
                </div>
               
            </div>
            <div class="col-md-3 col-12 ">
                <div class="ban">
                    <img src="https://gpadp.org.in/assets/images/cs.webp" alt="">
                    <h4>COMPUTER SCIENCE <br> ENGINEERING</h4> 
                </div>
               
            </div>
            <div class="col-md-3 col-12 ">
                <div class="ban">
                    <img src="https://gpadp.org.in/assets/images/cs.webp" alt="">
                    <h4>COMPUTER SCIENCE <br> ENGINEERING</h4> 
                </div>
               
            </div>
            <div class="col-md-3 col-12 ban">
                <img src="https://gpadp.org.in/assets/images/ele.webp" alt="">
                <div class="details">
                <h4>ELECTRICAL <br> ENGINEERING</h4>
            </div>
            </div>
            <div class="col-md-3 col-12 ban">
                <img src="https://gpadp.org.in/assets/images/meta.webp" alt="">
                <div class="details">
                <h4>METALLURGICAL <br> ENGINEERING</h4>
            </div>
            </div>
            <div class="col-md-3 col-12 ban">
                <img src="https://gpadp.org.in/assets/images/mech2.webp" alt="">
                    <div class="details">
                <h4>MECHANICAL <br> ENGINEERING</h4>
            </div>
            </div>
        </div>
        <div class="row syllabus">
            <div class="col">
                <h4>Syllabus available on Jharkhand University of Technology Official Website - http://jutranchi.ac.in</h4>
            </div>
        </div>
    </div>
</section>

<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-typeahead></app-typeahead>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-tooltip></app-tooltip>
            </div>
        </div>
    </div>
</section>
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-table></app-table>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-scrollspy></app-scrollspy>
            </div>
        </div>
    </div>
</section>
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-dropdown></app-dropdown>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-model></app-model>
            </div>
        </div>
    </div>
</section>


<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-popover></app-popover>
            </div>
        </div>
    </div>
</section>   
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-toast></app-toast>
            </div>
        </div>
    </div>
</section> 
app-toast

