<app-header></app-header>
<app-logo></app-logo>

<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a routerLink="/admission" routerLinkActive="active" ariaCurrentWhenActive="page">Admission</a></li>
    <li><a routerLink="/notice" routerLinkActive="active" ariaCurrentWhenActive="page">Notice</a></li>
    <li><a routerLink="/faculty" routerLinkActive="active" ariaCurrentWhenActive="page">Faculty</a></li>
    <li><a routerLink="/md" routerLinkActive="active" ariaCurrentWhenActive="page">Mandetory Disclosure</a></li>
    <li><a routerLink="/placement" routerLinkActive="active" ariaCurrentWhenActive="page">Placement</a></li>
    <li><a routerLink="/grievance" routerLinkActive="active" ariaCurrentWhenActive="page">Grievance</a></li>
    
    <li><a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    <li><a routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a></li>
    <li><a routerLink="/component" routerLinkActive="active" ariaCurrentWhenActive="page">component</a></li>
    <li><a routerLink="/icon" routerLinkActive="active" ariaCurrentWhenActive="page">Icons</a></li>
    
    
    <li><fa-icon [icon]="faCoffee"></fa-icon></li>
    <li><fa-icon [icon]="faBell"></fa-icon></li>
  </ul>
</nav>


<router-outlet></router-outlet>
<app-footer></app-footer>