<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <app-alert></app-alert>
            </div>
        </div>
    </div>
</section>
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-navigation></app-navigation>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-nav></app-nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12">
                <app-slide></app-slide>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-collapse></app-collapse>
            </div>
        </div>
    </div>
</section>
app-offcanvas
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-offcanvas></app-offcanvas>
            </div>
        </div>
    </div>
</section>
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-typeahead></app-typeahead>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-tooltip></app-tooltip>
            </div>
        </div>
    </div>
</section>
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-table></app-table>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-scrollspy></app-scrollspy>
            </div>
        </div>
    </div>
</section>
<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-dropdown></app-dropdown>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-model></app-model>
            </div>
        </div>
    </div>
</section>


<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-popover></app-popover>
            </div>
        </div>
    </div>
</section>
<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
                <app-toast></app-toast>
                
            </div>
        </div>
    </div>
</section>


<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 ">
               <app-datepicker></app-datepicker>
            </div>
        </div>
    </div>
</section> 
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 col-12">
                <app-rating></app-rating>
            </div>
        </div>
    </div>
</section>
<section class="pro">
    <div class="container">
        <div class="row">
           
            <div class="col-md-12 col-12">
                <app-progressbar></app-progressbar>
            </div>
        </div>
    </div>
</section>

<app-timepicker></app-timepicker>


