<section class="placement">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://gpadp.org.in/assets/images/left-arrow.png" alt="">
                <h2>PLACEMENT RECORDS</h2>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <h3>Placement Records (2022-23)</h3>
                <h5>Training & Placement Officer : Mr Mujahidul Islam</h5>
                <p><b>Mobile No. : </b>+91 - 94301 82068 <br>
                <b>Last updated on:</b>August 05, 2023</p>

            </div>
            <div class="row">
                <div class="col">
                    <table>
                        <tr>
                            <th rowspan="2">Company</th>
                            <th colspan="4">Branch</th>
                            <th rowspan="2">Total (198)</th>
                        </tr>
                        <tr>
                            <td><b>Mechanical Engineering (52)</b></td>
                            <td><b>Electrical Engineering (49)</b></td>
                            <td><b>Metallurgical Engineering (54)</b></td>
                            <td><b>Computer Science Engineering (43)</b></td>
                        </tr>
                        <tr>
                            <td><b>Tata Steel Long Products</b></td>
                            <td>11</td>
                            <td>04</td>
                            <td>08</td>
                            <td>00</td>
                            <td><b>23</b></td>
                        </tr>
                        <tr>
                            <td><b>Tata Power</b></td>
                            <td>07</td>
                            <td>18</td>
                            <td>00</td>
                            <td>00</td>
                            <td><b>25</b></td>
                        </tr>
                        <tr>
                            <td><b>Tata Consulting Engineers, Jamshedpur</b></td>
                            <td>06</td>
                            <td>04</td>
                            <td>00</td>
                            <td>00</td>
                            <td><b>10</b></td>
                        </tr>
                        <tr>
                            <td><b>Tata Steel Ltd.</b></td>
                            <td>01</td>
                            <td>03</td>
                            <td>06</td>
                            <td>00</td>
                            <td><b>10</b></td>
                        </tr>
                        <tr>
                            <td><b>ArcelorMittal Nippon Steel</b></td>
                            <td>04</td>
                            <td>06</td>
                            <td>14</td>
                            <td>00</td>
                            <td><b>25</b></td>
                        </tr>
                        <tr>
                            <td><b>Jindal Saw Gulf LLC, Abu Dhabi</b></td>
                            <td>01</td>
                            <td>03</td>
                            <td>06</td>
                            <td>00</td>
                            <td><b>10</b></td>
                        </tr>
                        <tr>
                            <td><b>Wipro</b></td>
                            
                            <td>00</td>
                            <td>00</td>
                            <td>00</td>
                            <td>10</td>
                            <td><b>10</b></td>
                        </tr>
                        <tr>
                            <td><b>Prayagraj Power Generation Company Ltd., Prayagraj, UP</b></td>
                            <td>02</td>
                            <td>02</td>
                            <td>00</td>
                            <td>00</td>
                            <td><b>04</b></td>
                        </tr>
                        <tr>
                            <td><b>JSW Bellari</b></td>
                            <td>00</td>
                            <td>00</td>
                            <td>13</td>
                            <td>00</td>
                            <td><b>13</b></td>
                        </tr>
                        <tr>
                            <td><b>Jindal Saw Gujrat</b></td>
                            <td>03</td>
                            <td>00</td>
                            <td>01</td>
                            <td>00</td>
                            <td><b>04</b></td>
                        </tr>
                        <tr>
                            <td><b>Usha Martin Ltd. Ranchi</b></td>
                            <td>04</td>
                            <td>00</td>
                            <td>00</td>
                            <td>00</td>
                            <td><b>04</b></td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th colspan="4">BRANCH-MECHANICAL ENGG.(Current Session)</th>
                    </tr>
                    <tr>
                        <th>SL NO</th>
                        <th>REGISTRATION NO</th>
                        <th>NAME OF STUDENT</th>
                        <th>NAME OF THE COMPANY</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>20202125001</td>
                        <td>Akansha Kumari</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>20202125001</td>
                        <td>Akansha Kumari</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>20202125001</td>
                        <td>Akansha Kumari</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>20202125001</td>
                        <td>Akansha Kumari</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>20202125001</td>
                        <td>Akansha Kumari</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>20202125001</td>
                        <td>Akansha Kumari</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>20202125001</td>
                        <td>Akansha Kumari</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th colspan="4">BRANCH-ELECTRICAL ENGG.(Current Session)</th>
                    </tr>
                    <tr>
                        <th>SL NO</th>
                        <th>REGISTRATION NO</th>
                        <th>NAME OF STUDENT</th>
                        <th>NAME OF THE COMPANY</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20402085001</td>
                        <td>Anishek Raj</td>
                        <td>Tata Steel Long Products</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 col-12">
                <app-rating></app-rating>
            </div>
        </div>
    </div>
</section>
<section class="pro">
    <div class="container">
        <div class="row">
           
            <div class="col-md-12 col-12">
                <app-progressbar></app-progressbar>
            </div>
        </div>
    </div>
</section>
